.singlecharacter {
  &__title {
    color: #fff;
    font-family: 'Poiret One', cursive;
    font-size: 3em;
    font-weight: 900;
    margin: 7rem 0 0 13rem;
  }
  &__intro {
    color: #fff;
    font-family: 'Poiret One', cursive;
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 0.2rem;
    margin: 1rem 12rem;
  }
  &__back-button {
    color: #fff;
    margin: 9rem 12rem;
    padding: 15px 15px;
    border: none;
    border-radius: 50%;
    background-color: #000;
    box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px rgba(255, 0, 255, 0.788),
      0 0 140px 90px rgb(0, 225, 255);
  }
}

@media (max-width: 600px) {
  .singlecharacter {
    height: 100vh;
    background-size: contain;
    &__title {
      font-size: 2rem;
      color: #fff;
      margin: 2rem 0 1.5rem 1.4rem;
    }
    &__intro {
      color: #fff;
      font-size: 1.3rem;
      margin: 0.5rem;
    }
    &__back-button {
      margin: 1rem 0.5rem;
      padding: 7px 10px;
      border-radius: 50%;
    }
  }
}
