body {
  margin: 0;
}

thead {
  background-color: rgb(3, 10, 0);
}

th.titles {
  &__title--name {
    padding-left: 1.5rem;
    color: #fff;
  }

  &__title--starships {
    padding-left: 1.5rem;
    color: #fff;
  }
}

@media (max-width: 1024px) {
  .header .navbar .navbar-expand .navbar-light {
    background-color: #fff;
  }
}
