.search {
  display: flex;
  justify-content: center;
  margin: 0;

  &__input {
    background-color: rgb(4, 14, 0);
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 1.5rem;
    margin: 2px 0;
    padding: 2px 4px;
    text-align: center;
    width: 18%;

    @media (max-width: 600px) {
      font-size: 1rem;
    }
  }
}
