.table {
  &__row {
    min-height: 2rem;
  }

  &__row:hover {
    background-color: rgb(8, 207, 8);
  }

  &__row--cname {
    padding-left: 1rem;
    color: #fff;
    font-family: 'Black Ops One', cursive;
    font-family: 'Poiret One', cursive;
    font-family: 'Gruppo', cursive;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: #000;
      text-decoration: none;
    }
  }

  &__row--starships {
    color: #fff;
    font-family: 'Gruppo', cursive;
    font-size: 1.3rem;
    font-weight: 900;
    padding-left: 1rem;
  }
}

td {
  border: solid 2px #0892d0;
}

tr {
  border: solid 1px #0892d0;
  box-shadow: 1px 2px 5px #0b83bb;
}
