.table {
  &__row {
    min-height: 2rem;
  }

  &__row:hover {
    background-color: rgb(8, 207, 8);
  }

  &__row--cname {
    padding-left: 1rem;
    color: #fff;
    font-family: 'Black Ops One', cursive;
    font-family: 'Poiret One', cursive;
    font-family: 'Gruppo', cursive;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: #000;
      text-decoration: none;
    }
  }

  &__row--starships {
    color: #fff;
    font-family: 'Gruppo', cursive;
    font-size: 1.3rem;
    font-weight: 900;
    padding-left: 1rem;
  }
}

td {
  border: solid 2px rgb(36, 69, 139);
}

tr {
  border: solid 1px rgb(1, 1, 129);
  box-shadow: 1px 3px 8px rgb(3, 3, 110);
}
